// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.letters {
  color: white;
  font-weight: bold;
  font-size: 27px;
  background-color: blue;
  padding: 7px 10px;
  margin: 2px;
  display: inline-block;
  border-radius: 2px;
}

.form{
  margin-top: 10px;

}
